.gitattributes
*.kts
*.xml
*.png
*.properties
*.plist
*.pbxproj
*.kt
*.xcconfig
*.xcworkspacedata
*.xcsettings
*.yaml
*.xcscheme
*.swift
*.json
*.md
*.storyboard
*.cc
*.cmake
*.xib
*.h
*.txt
*.entitlements
*.lock
*.html
*.cpp
*.ico
*.manifest
*.rc
*.lib
*.dll
*.exe
*.cat
*.inf
*.bat
*.sys
*.proto
*.ini
*.pem
*.protobuf
*.conf
*.bin
*.rom
*.pc
*.dat
*.pak
*.csv
*.mp4
*.mtl
*.obj
*.posters
