.gitattributes
*.kts
*.xml
*.png
*.properties
*.plist
*.pbxproj
*.kt
*.xcconfig
*.xcworkspacedata
*.xcsettings
*.xcscheme
*.swift
*.json
*.md
*.storyboard
*.cc
*.cmake
*.xib
*.h
*.txt
*.entitlements
*.lock
*.html
*.cpp
*.ico
*.manifest
*.rc
*.lib
*.dll
*.exe
*.cat
*.inf
*.bat
*.sys
*.proto
*.ini
*.pem
*.protobuf
*.conf
*.bin
*.rom
*.pc
*.dat
*.pak
*.csv
*.mp4
*.mtl
*.obj
*.posters
app/flutter_application_1/.metadata
app/flutter_application_1/test/widget_test.dart
as/emulator/lib/pc-bios/keymaps/ar
as/emulator/lib/pc-bios/keymaps/bepo
as/emulator/lib/pc-bios/keymaps/common
as/emulator/lib/pc-bios/keymaps/cz
as/emulator/lib/pc-bios/keymaps/da
as/emulator/lib/pc-bios/keymaps/de
as/emulator/lib/pc-bios/keymaps/de-ch
as/emulator/lib/pc-bios/keymaps/en-gb
as/emulator/lib/pc-bios/keymaps/en-us
as/emulator/lib/pc-bios/keymaps/es
as/emulator/lib/pc-bios/keymaps/et
as/emulator/lib/pc-bios/keymaps/fi
as/emulator/lib/pc-bios/keymaps/fo
as/emulator/lib/pc-bios/keymaps/fr
as/emulator/lib/pc-bios/keymaps/fr-be
as/emulator/lib/pc-bios/keymaps/fr-ca
as/emulator/lib/pc-bios/keymaps/fr-ch
as/emulator/lib/pc-bios/keymaps/hr
as/emulator/lib/pc-bios/keymaps/hu
as/emulator/lib/pc-bios/keymaps/is
as/emulator/lib/pc-bios/keymaps/it
as/emulator/lib/pc-bios/keymaps/ja
as/emulator/lib/pc-bios/keymaps/lt
as/emulator/lib/pc-bios/keymaps/lv
as/emulator/lib/pc-bios/keymaps/Makefile
as/emulator/lib/pc-bios/keymaps/mk
as/emulator/lib/pc-bios/keymaps/modifiers
as/emulator/lib/pc-bios/keymaps/nl
as/emulator/lib/pc-bios/keymaps/nl-be
as/emulator/lib/pc-bios/keymaps/no
as/emulator/lib/pc-bios/keymaps/pl
as/emulator/lib/pc-bios/keymaps/pt
as/emulator/lib/pc-bios/keymaps/pt-br
as/emulator/lib/pc-bios/keymaps/ru
as/emulator/lib/pc-bios/keymaps/sl
as/emulator/lib/pc-bios/keymaps/sv
as/emulator/lib/pc-bios/keymaps/th
as/emulator/lib/pc-bios/keymaps/tr
as/emulator/LICENSE
as/emulator/resources/macros/Reset_position
as/emulator/resources/macros/Track_horizontal_plane
as/emulator/resources/macros/Track_vertical_plane
as/emulator/resources/macros/Walk_to_image_room
as/licenses/android-sdk-license
flutter/
